.profile__info {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 784px){
    .profile__info {
        padding-top: 22.25px;
    }
}

@media screen and (max-width: 320px){
    .profile__info {
        max-width: 292px;
    }
}