.page {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #000000;
    margin: 0 auto;
    box-sizing: border-box;
}
