.footer {
    max-width: 880px;
    margin: 67px auto 0 auto;
    padding-bottom: 60px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.78px;
    color: #545454;
}

@media screen and (max-width: 1350px){
    .footer {
        padding-left: 45px;
    }
}

@media screen and (max-width: 796px){
    .footer {
        max-width: 80%;
        margin: 0 auto;
        padding-left: 45px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 514px){
    .footer {
        font-size: 14px;
        line-height: 16.94px;
    }
}